.card1{
    display: flex;
    flex-direction: column;
    width: 300px;
   height: 400px;
    border: none;

    margin: 10px;
    text-align:center
}
.h{
    margin-top: 20px;
    font-weight: bolder;
    color: rgb(8, 8, 98);
    text-align: center;

}
@media (max-width:641px){
    .card1{
        width: 380px;
    }

}